*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/.classpath
/app/.project
/app/.settings/
/.settings/
/build
/captures
.DS_Store
.project
.externalNativeBuild
.cxx
.ignored