<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sdp">

    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.search_group.edition.SearchGroupEditionActivity"
            android:label="@string/group_edition_activity_title"
            android:parentActivityName=".ui.search_group.selection.SearchGroupSelectionActivity" />
        <activity
            android:name=".ui.search_group.selection.SearchGroupSelectionActivity"
            android:label="@string/group_selection_activity_title"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <!--
             The theme set here is launcher, but it gets set to no_actionBar in MainActivity.kt
             when the activity is launched
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.maps.MapActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.maps.offline.OfflineManagerActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity" />
    </application>

</manifest>